.accordion {
  height: max-content;

  &.accordion--hidden {
    .accordion-toggle:before{
      content: '+';
    }
  }
}

.accordion-details {
  overflow: hidden;
  transition: height 400ms ease-out;
  height: auto;
  margin: 0;

  &[aria-expanded="true"]{
    margin-bottom: rem(30px);
  }
}

.button.accordion-toggle {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  color: color(mid-grey);
  background-color: transparent;
  padding: 10px 20px;
  letter-spacing: initial;
  
  &:hover {
    color: initial;
    background-color: initial;
  }

  &:before {
    content: '—';
    position: absolute;
    right: 0;
  }
}
