// this extends .button class from main belkin CSS

.button {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  letter-spacing: normal;

  &.button--catalogue {
    background-color: color(calcite);
    font-size: 18px;
    border: 1px solid color(mid-grey);
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 15px 0px;

    a {
      display: block;
    }

    a:hover {
      text-decoration: none;
    }

    &:hover {
      background-color: color(light-grey);
      color: color(color-black);
    }  
  }

  &.button--filter {
    font-size: rem(18px);
    letter-spacing: initial;
    background-color: color(light-grey);
    margin-left: rem(20px);

    &:hover {
      color: color(color-black);
      text-decoration: none;
    }

    &[disabled]{
      cursor: default;
      &:after{
        content: none;
      }
    }

    &:after{
      content: ' ×';
      white-space: pre;
      right: 0;
    }
  }

}