#bRefine.filter {
  display: flex;
  position: relative;
  // margin-bottom: rem(250px);
  font-size: rem(18px);

  .filter-by {
    font-size: rem(24px);
    margin-right: rem(20px);
    flex: 0 0 auto;
  }
  
  
  .filter-groups {
    position: relative;
    width: 100%;
  }
  
  .filter-header {
    // display: flex;
    // justify-content: space-evenly;
    display: inline-block;
    margin-bottom: rem(5px);
    border: 1px solid color(color-black);

  }
  
  .filter-tab {
    padding: rem(8px) rem(25px) rem(3px);
    border: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background-color: color(calcite);
    flex-grow: 2;
    cursor: pointer;
    border-right: 1px solid color(color-black);
    
    &:last-of-type {
      border-right: none;
    }
    
    &[aria-selected="true"], &:hover {
      background-color: color(light-grey);
    }
    
  }
  

  .filter-group {
    columns: 250px auto;

    padding: rem(20px) rem(20px) rem(60px);

    background-color: color(calcite);
    border: 1px solid color(mid-grey);
    
    &.active {

    }

    .more {
      position: absolute;
      left: 20px;
      bottom: 30px;
      height: auto;
      margin-top: 10px;

      &::after{
        content: none;
      }
    }
  }

  .filter-more-results {
    // display: none;
    @extend .filter-group; //same styles, but can't have same name for filter.js
    overflow-y: scroll;
    width: 100%;

    // position: absolute;
    max-height: 236px;


    display: flex;

    #bScrollListLabel {
      font-size: 18px;
      text-transform: capitalize;
      margin-top: 0;
      margin-right: rem(20px);
    }

    #bLetterBar {
      display: none;
    }
    div[id*='facetList']{
      display: none;
    }
  }
}