header{
  position: static;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: rem(8px) rem(20px); 
  font-size: rem(20px);
  
  .name {
    flex-shrink: 0;
    margin: rem(10px) 0;
    padding: 0;
  }
  
  nav {
    order: 1;
    display: flex;
    flex-grow: 1;
    position: static;
    padding: 0;
    top: 0;
    overflow: unset;
  }
  
  ul.nav {
    flex-direction: row;
    flex-wrap: wrap;
    
    li {
      padding-right: rem(20px);
    }

    a {
      display: flex;
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    nav {
      order: 0;
    }
    ul.nav {
      align-items: baseline;
  
      span {
        display: inline;
      }
    }
  
  }

}