.hierarchy {
  margin-top: rem(20px);

  .collection {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .collection-item {

    .collection-bar-content, .button.accordion-toggle {
      // background-color: color(grey-50);
      color: color(color-black);
    }

    &.collection-item--fond {
      .collection-bar-content, .button.accordion-toggle, a {
        background-color: color(grey-50);
        color: color(calcite);
      }
    }

    &.collection-item--sousfond {
      .collection-bar-content, .button.accordion-toggle, a {
        background-color: color(grey-65);
        color: color(color-black);
      }
    }

    &.collection-item--series {
      .collection-bar-content, .button.accordion-toggle, a {
        background-color: color(grey-80);
        color: color(color-black);
      } 
    }

    &.collection-item--file {
      .collection-bar-content, .button.accordion-toggle, a {
        background-color: color(offwhite);
        color: color(color-black);
      }
    }
    &.collection-item--current > .collection-bar {
      .collection-bar-content, .button, a {
        background-color: color(calcite);
        color: color(color-black);
        font-weight: 500;
      }
    }

    &.collection-item--hidden {
      display: none;
    }

    &.collection-item--current {
      display: static;
    }
  }
  
  .collection-bar {
    display: flex;
    width: 100%;
    color: color(light);
    // position: relative;
    margin-top: -1px;
    
    .collection-bar-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      border: 1px solid color(color-black);
      flex-grow: 1;
      padding: rem(10px) rem(20px) rem(5px);

      a:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0; left: 0;
      }
    }

    .button.accordion-toggle {
      border: 1px solid color(color-black);
      border-left: none;
      padding: rem(10px) rem(20px) rem(5px);
    }


    .button.accordion-toggle, .collection-bar-spacer {
      display: inline-block;
      width: 100px;
      min-width: 100px;
    }
  }
  

  .button.see-more {
    background-color: color(calcite);
    border: 1px solid color(color-black);
    margin: rem(10px) rem(20px);

    &:hover {
      background-color: color(color-black);
      color: color(calcite);

    }
  }

  .collection-level {
    margin-left: rem(10px);
  }

  .collection-level, .button.accordion-toggle {
    font-size: rem(18px);
    font-weight: 500;
    text-transform: uppercase;
  }

  .collection--child{
    margin-left: rem(40px);
  }

  .collection--gchild {
    margin-left: rem(60px);
  }

  .collection--ggchild {
    margin-left: rem(80px);
  
  }

  .collection--gggchild {
    margin-left: rem(100px);    
  }
}