.hierarchy {
  margin-top: rem(20px);

  .collection {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .collection-item {


    .collection-item--sousfond {
      .collection-bar-content, .button.accordion-toggle {
        background-color: color(grey-65);
      }
    }

    .collection-item--series {
      .collection-bar-content, .button.accordion-toggle {
        background-color: color(grey-80);
      } 
    }

    .collection-item--file {
      .collection-bar-content, .button.accordion-toggle {
        background-color: color(offwhite);
      }
    }
    .collection-item--current > .collection-bar {
      .collection-bar-content, .button {
        background-color: color(calcite);
        font-weight: 500;
      }
    }

    .collection-item--hidden {
      height: auto;
      margin: 0;
      padding: 0;
      transition: height 400ms ease-out;
      overflow: hidden;
    }
  }
  
  .collection-bar {
    display: flex;
    width: 100%;
    color: color(light);
    // position: relative;
    margin-bottom: -1px;
    
    .collection-bar-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid color(color-black);
      flex-grow: 1;
      padding: rem(10px) rem(20px) rem(5px);
      background-color: color(grey-50);
      color: color(color-black);

      span, a, .button.accordion-toggle {
        color: color(color-black);    
      }
    }
    .button.accordion-toggle {
      color: color(color-black);
      background-color: color(grey-50);
      border: 1px solid color(color-black);
      border-left: none;
      padding: rem(10px) rem(20px) rem(5px);
    }



    .button.accordion-toggle, .collection-bar-spacer {
      display: inline-block;
      width: 100px;
      min-width: 100px;
    }
  }
  
  .collection-title {
    color: color(calcite);

    a {
      color: color(calcite);
    }
  }

  .button.see-more {
    background-color: color(calcite);
    border: 1px solid color(color-black);
    margin: rem(10px) rem(20px);

    &:hover {
      background-color: color(color-black);
      color: color(calcite);

    }
  }

  .collection-level, .button.accordion-toggle {
    font-size: rem(18px);
    font-weight: 500;
    text-transform: uppercase;
    color: color(calcite);
  }

  .collection--child{
    margin-left: rem(40px);
  }

  .collection--gchild {
    margin-left: rem(60px);
  }

  .collection--ggchild {
    margin-left: rem(80px);
  
  }

  .collection--gggchild {
    margin-left: rem(100px);    
  }
}