.link {
  text-decoration: underline;

  &.link--back {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: rem(18px);
  
    &:before {
      display: inline-block;
      font-family: Helvetica, sans-serif;
      content: '← ';
      white-space: pre;
      transform: translateX(0);
      transition: transform 0.2s ease;
    }

    &:hover {
      &:before{
        transform: translateX(-4px);
      }
    }
  }

}
