.link {
  
  &.link--back {
    position: relative;
  
    padding-left: rem(30px);
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(18px);
  
    &::before {
      font-family: Helvetica, sans-serif;
      content: 'â†';
    }
  }
  
  &.link--arrow {
    font-size: rem(18px);
    font-weight: 700;
    text-decoration: underline; 
  
    &::after {
      font-size: 14px;
      content: ' >>';
      text-decoration: underline;
      white-space: pre;
    }
  }
}
