// results of Browse and search
.results { 

  @include mobile {
    margin-top: 0;
  }

  .search {
    padding-top: rem(20px);
  }
  
  .results-header {
    padding-top: rem(20px);
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      margin-top: rem(10px);
    }
  }

  .results-filters {
    margin-top: rem(40px);
  }
  
  
  .results-controls { //view mode, sorting
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    .results-view {
      display: flex;

      @include mobile {
        display: none;
      }

      a {
        height: max-content;
      }
    }

    .results-sort {
      margin-left: rem(50px);

      @include mobile {
        margin: rem(20px) 0;
        margin-left: 0;
      }
    } 
  }

  .results-toggle {
    
    .button {
      font-size: rem(18px);
      font-weight: 500;
      letter-spacing: initial;
      padding: rem(8px) rem(30px) rem(1px) rem(10px);
      position: relative;

      &:hover,
      &:hover a {
        background-color: color(light-grey);
        color: color(color-black);
        text-decoration: none;
      }
    }

    .button:first-child {
      border-right: none;
    }

    i {
      font-size: rem(14px);
      position: absolute;
      right: 8px;
      top: 8px;
    }

    [aria-pressed="true"],
    [aria-pressed="true"] a{
      background-color: color(light-grey);
      pointer-events: none;
    }
  }

  .results-criteria {
    margin-top: rem(50px);
    padding: rem(10px) 0 0;

    .button {
      margin-bottom: rem(10px);
      white-space: normal; //for really long Adv searches
    }
    
    .container {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;

      &--wrap {
        flex-wrap: wrap;
      }
    }

    h2 {
      display: inline-flex;
    }
  }

  // Collection search
  &.ca_collections {

    .result-objects-labels,
    .result-object {
      grid-template-columns: 10% 15% 15% 15% 10% 10% 25%;
    }

    .result-objects-labels {
      span.collections-only {
        display: inline;
      }
      span.objects-only {
        display: none;
      }
    }


    .result-object-level-description {
      display: block;
    }
    .result-object-image {
      display: none;
    }
  }

  // Object Search
  &.ca_objects {
    .result-objects-labels {
      span.collections-only {
        display: none;
      }
      span.objects-only {
        display: inline;
      }
    }


    .result-object-level-description {
      display: none;
    }
    .result-object-image {
      display: block;
    }
  }

}

.result-objects-labels,
.result-object {
  display: grid;
  grid-template-columns: 20% 15% 15% 10% 10% 10% 20%;
  border-bottom:1px solid color(mid-grey);
  // grid-gap: rem(16px);
}

.result-objects-labels {

  span{
    font-size: rem(18px);
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 rem(8px) rem(10px);
  }
}

.result-object {
  padding: rem(32px) 0 rem(26px);
  font-size: rem(20px);
  position: relative;

  * + * {
    margin-top: rem(5px);
  }

  > * {
    padding-left: 8px;
    padding-right: 8px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .result-object-level-description {
    font-size: rem(18px);
    font-weight: 500;
    text-transform: uppercase;
    margin-top: rem(5px);
  }

  .result-object-image {

    .no-image-available {
      border: 1px solid color(color-dark-grey);
      color: color(color-dark-grey);
      height: 200px;
      display: grid;
      place-content: center;
      font-weight: 500;
      text-transform: uppercase;
    }

    .sensitive-content {
      overflow: hidden;
      position: relative;
      height: 200px;
      display: grid;
      place-content: center;
      
      span {
        color: color(calcite);
        font-weight: 500;
        text-transform: uppercase;
        z-index: 1;
        text-align: center;
      }

      img {
        filter: blur(8px);
        height: 100%;
        width: auto;
        position: absolute;
      }
    }

  }

  .result-object-artist{
    font-weight: 500;

    .text-center {
      width: 100%;
      text-align: center;
    }
  }

  .result-object-title{
    font-style: italic;

    a {
      display: block; // for "Image is being processed" link
      text-decoration: none;
    }
    a:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
      z-index: 1;
    }
  }

  .result-object-year {
    overflow-wrap: break-word;
  }

  .result-object-catalogue {
    font-size: rem(18px);
    font-weight: 500;
    text-transform: uppercase;
  }

  .result-object-collection {
    text-transform: capitalize;
    font-weight: 400;
  }

  &:hover {
    background-color: color(calcite);
  }


}

.result-objects {
  margin-top: rem(40px);
  padding-bottom: rem(40px);
}
.result-objects.result-objects--grid {
  .jscroll-inner, .jscroll-added {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    // grid-gap: rem(8px);
    justify-content: center;  
  }

  .jscroll-added {
    grid-column: 1 / -1;
  }

  .result-objects-labels {
    display: none;
  }

  .result-object-artist{
    font-weight: 500;
    padding-top: rem(8px);
  }

  .result-object-catalogue {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    padding-top: rem(8px);
    padding-bottom: rem(8px);
  }

  .result-object {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    padding: rem(30px);

    grid-gap: 0;

    .record-type {
      margin-bottom: rem(10px);
    }

    &:hover {
      background-color: color(calcite);
    }
  }
}

//homepage, 3-wide grid
#explore .result-objects.result-objects--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 440px);
  grid-gap: rem(40px);
  justify-content: center;  

  @include mobile {
    display: block;
  }

}

