
.advanced-search {
  max-width: 800px;
}

.advanced-search-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(15px);
  background-color: color(calcite);
  padding: rem(8px);
  border: 1px solid color(color-dark-grey);
  margin-top: rem(20px);
}

.advanced-search-field {
  display: flex;
  flex-direction: column;
}


.basic-search {
  display: flex;
  width: 100%;
}

.basic-search-container {
  position: relative;
  max-width: 800px;
  width: 100%;
  margin-right: rem(20px);

  .search-input, .basic-search-select {
    border: 1px solid color(color-dark-grey);
    height: 40px;
    padding: rem(6px) rem(8px) rem(3px);
  }

  .basic-search-select {
    position: absolute;
    right: 0;
  }
}


.search-input {
  padding: rem(6px) rem(8px) rem(3px);
  width: 100%;
  font-size: 20px;
  height: 32px;

  line-height: 1;
  border-radius: 0;
  border: 1px solid color(color-black);

}

.button--search {
  margin: 0;

}