
.advanced-search {
  max-width: 800px;
}

.advanced-search-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(10px);
  background-color: color(calcite);
  padding: rem(15px);
  border: 1px solid color(color-dark-grey);
}

.advanced-search-field {
  display: flex;
  flex-direction: column;

  input {
    font-size: rem(20px);
    line-height: 1;
    padding: rem(5px) rem(5px) rem(2px);

  }

  label {
    font-size: rem(20px);
    margin-top: rem(3px);
  }
}


.basic-search {
  display: flex;
  width: 100%;
}

.basic-search-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin-right: rem(20px);

  .search-input, .basic-search-select {
    border: 1px solid color(color-dark-grey);
    height: 40px;
    padding: rem(6px) rem(8px) rem(3px);
  }

  .basic-search-select {
    font-size: 20px;
    border-left: none;
  }
}

.search-form {
  .accordion-toggle {
    border: none;
    letter-spacing: initial;
    background-color: transparent;
    color: color(color-black);
    padding-left: 0;

    &:after{
      content: '—';
    }

  }

  &.accordion--hidden {
    .accordion-toggle:after {
        content: '+';
    }
  }
}

.search-input {
  padding: rem(8px) rem(8px) rem(3px);
  width: 100%;
  font-size: 20px;
  height: 32px;

  line-height: 1;
  border-radius: 0;
  border: 1px solid color(color-black);

}

select.search-input {
  background-color: color(calcite);
}

.button--search {
  margin: 0;
}

.search-type-buttons-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-type-info {
  display: flex;
  align-items: center;

  .button.accordion-toggle {
    padding: 10px 5px 0px;
  }
}

.search-type-details {
  p {
    font-size: rem(18px);
  }

  p:first-of-type {
    margin-bottom: rem(8px);
  }
}