// see results.scss for styling shared between browse/search

.browse {

  .browse-links {
    
    .filter-list {
      margin: 0;
      padding: rem(10px) 0;
    }

    .filter-item{
      // padding-left: 0;
      padding: rem(8px) rem(10px) rem(1px);
      
      @include mobile {
        display: block;
        max-width: fit-content;
      }
    }

  }



  .browse-links-columns {
    margin-top: rem(40px);
    margin-bottom: rem(40px);
    list-style: none;

    .browse-links-item {
      margin-bottom: rem(15px);
    }

  }



    // Artist Page
  .letter-nav {
    display: flex;
    padding-top: rem(16px);
    padding-bottom: rem(10px);
    align-items: center;

    a {
      margin-right: rem(20px);
      // line-height: 1;
    }
  }

  .letter-section {
    display: flex;
    margin-top: rem(40px);
    margin-bottom: rem(40px);

    .letter-heading {
      font-size: rem(60px);
      min-width: 50px;
    }
    .letter-name-group {
      flex-grow: 1;
      columns: 250px auto;
      margin-top: 0;
      padding-left: rem(100px);
      list-style: none;

      @include mobile {
        padding-left: rem(20px);
      }
    }
  }

  // Different styles for different Browse pages (some share same view but need to look different)

  .entities {

  }

  .occurrences {

  }

  
  .collections {

  }

  .decade {
    .browse-links-columns {
      flex-grow: 1;
      columns: 250px auto;
      margin-top: 0;
      padding-top: 3rem;
    }
  }


  .category {

  }

}