.contact {

  h2 {
    margin-bottom: rem(15px);
  }
  p {
    max-width: 60ch;
    margin-bottom: rem(40px);
  }

  .advanced-search {
    // height: 0;
  }
  
  #contactForm{
    max-width: 600px;
    background-color: color(calcite);
    padding: rem(15px);
    border: 1px solid color(color-dark-grey);
    margin-bottom: 40px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    + .form-group {
      margin-top: rem(15px);
    }

  
    input {
      font-size: rem(20px);
      line-height: 1;
      padding: rem(5px) rem(5px) rem(2px);
  
    }
  
    label {
      font-weight: 500;
    }

    label, .form-control-static {
      font-size: rem(20px);
    }

    textarea {
      max-width: 40ch;
    
    }
    input, .button {
      max-width: max-content;
    }

    .button{
      margin-top: rem(20px);
    }
  }

}