.detail {

  .detail-nav {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    text-transform: uppercase;
    font-size: rem(18px);
    padding-left: rem(24px);
    margin-bottom: rem(20px);
  }
  
  // Images 
  .detail-images {
    margin-bottom: 10px;
    
    .detail-images-container {
      position: relative;
    }
  
    .j-carousel-wrapper {
      position: relative;
    }
  
    .detailMediaToolbar, #detailRepNav {
      display: none;
    }
  
    .sensitive-content-wrapper {
      position: absolute;
      height: 100%;
      width: calc(100% -  40px);
      box-sizing: border-box;
    }

    .sensitive-content {
      padding-left: 10%;
      padding-right: 10%;
      overflow: hidden;
      position: relative;
      height: 100%;
      display: grid;
      place-content: center;
      background-color: color(color-black);
      
      div {
        display: flex;
        flex-direction: column;
        z-index: 1;
        color: color(calcite);
        font-weight: 500;

        > * {
          margin-top: rem(20px);
        }
      }

      p{
        max-width: 60ch;
      }

      span {
        text-transform: uppercase;
      }

      button {
        align-self: flex-start;
        color: color(calcite);
        background-color: transparent;
        border: 2px solid color(calcite);
        font-size: rem(22px);
        font-weight: 500;
      }

      img {
        filter: blur(15px) brightness(40%);
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }

    #detailRepresentationThumbnails {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;

      li {
        padding: rem(5px);
        height: rem(84px);
      }

      li a{
        height: 100%;
      }

      > li + li {
        margin-left: rem(5px);
      }

      li:hover {
        opacity: 0.8;
        transition: opacity 0.2s ease;
      }

      li.active {
        border: 1px solid color(color-black);
      }
    }
  }
  
  .detail-info-intro {
    padding-top: rem(30px);

    h1 {
      margin-bottom: rem(30px);
    }

  }
  .detail-info-box{
    padding: rem(30px) 0;

    .detail-info-box-header {
      display: flex;
      justify-content: space-between;
    }
  } 

  .detail-label { // on other page?
    font-size: rem(18px);
    font-weight: 500;
    text-transform: uppercase;
  }

  .detail-info-list { //on other pages?
    display: grid;
    grid-template-columns: minmax(min-content,20%) minmax(min-content,1fr);
    justify-content: center;
    row-gap: 5px;
    font-size: rem(24px);
    font-weight: 400;
    margin-top: rem(30px);
    
    dt {
      display: inline-flex;
      text-transform: uppercase;
      font-size: rem(18px);
      font-weight: 500;
      padding-top: 4px;
    }

    dd {

      &::first-letter{
        text-transform: capitalize;
      }

    }

    .lowercase {
      &::first-letter{
        text-transform: lowercase;
      }
    }
  }

  .detail-related-link {
    // font-style: italic;
    // text-decoration: underline;
    // text-decoration-thickness: 1px;
    // font-weight: 300;
  }

  .detail-info-paragraph, .detail-link-container {
    max-width: 70ch;
    margin-top: rem(20px);
  }


  .detail-actions { //on other pages?
    padding-top: rem(30px);
    padding-bottom: rem(50px);
  
  }
}