.frontpage {
  padding-bottom: rem(100px);
  border-bottom: 1px solid color(color-dark-grey);

  article {
    margin-bottom: rem(20px);
  }

  .frontpage-search {
    padding-top: rem(20px);
  }

  .frontpage-explore {
    padding-top: rem(80px);

  }
  .frontpage-explore-header {
    margin-bottom: rem(20px);

    h2 {
      display: inline;
    }
    span {
      font-size: rem(36px);
    }

    select {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid color(color-black);
      font-weight: bold;
      font-size: rem(36px);
      padding-left: rem(30px);
      margin-left: rem(30px);
      &:focus {
        outline: none;
      }
    }
  }
  .frontpage-explore-bios {
    margin-top: rem(10px);
  }

  .frontpage-explore-bio {
    p:first-child {
      display: inline;
    }
  }

  .filters .filter .filter-item {
    margin-bottom: 0;
  }


}