.frontpage {
  padding-bottom: rem(100px);
  border-bottom: 1px solid color(color-dark-grey);

  article {
    margin-bottom: rem(20px);
  }

  .select-wrapper {
    position: relative;
    display: inline;

    &::after {
      font-family: "FontAwesome"; 
      content: "\f107";
      position: absolute;
      right: 10px;
      bottom: 3px;
      color: color(color-black);
      pointer-events: none;
      font-size: 20px;
    }
  }

  select {
    background-color: color(offwhite);
    
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid color(color-black);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .frontpage-search {
    padding-top: rem(20px);
  }

  .frontpage-explore {
    padding-top: rem(80px);
  }
  .frontpage-explore-header {
    margin-bottom: rem(20px);

    h2 {
      display: inline;
    }
    span {
      font-size: rem(36px);
    }

    select {
      border: none;
      border-bottom: 1px solid color(color-black);
      font-weight: bold;
      font-size: rem(36px);
      padding-left: rem(30px);
      padding-right: rem(30px);
      margin-left: rem(30px);

      &:focus {
        outline: none;
      }

      @include mobile {
        font-size: rem(26px);
        margin-left: 0;
        margin-top: rem(10px);
        padding-left: 0;
      }

    }
  }
  
  .frontpage-explore-bios {
    margin-top: rem(40px);
    margin-bottom: rem(40px);
  }

  button#extend-bio {
    border: none;
    cursor: pointer;
    background-color: color(offwhite);
    color: color(color-black);
  }

  .frontpage-explore-bio {
    max-width: 70ch;

    p:first-child {
      display: inline;
    }
  }

  .filters {
    padding-left: 0;
    padding-right: 0;
  }
  .filters .filter:before {
    content: none;
  }
  .filters .filter .filter-item {
    margin-bottom: 0;
    margin-top: rem(5px);
  }


}