.object {


  .object-images {

  }

  .object-image {

  }

  .object-image-caption {
    font-size: rem(18px);
  }

  .object-images-gallery {

  }

  .object-details {
    display: grid;
    grid-gap: rem(50px);
    
    border-top: 1px solid color(mid-grey);
    padding-top: rem(30px);
    
    @include desktop {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .object-details-intro {
    grid-column: 1 / -1;
    h1 {
      margin-bottom: rem(30px);
    }

  }
  .object-details-box{
    border: 1px solid color(mid-grey);
    padding: rem(30px) rem(20px) 0;

    .object-details-box-header {
      display: flex;
      justify-content: space-between;
    }
  } 

  .object-label { // on other page?
    background-color: color(light-grey);
    font-size: rem(24px);
    font-weight: 700;
    padding: rem(6px) rem(6px) rem(2px);
  }

  .object-detail-list { //on other pages?
    display: grid;
    grid-template-columns: minmax(min-content,30%) minmax(min-content,1fr);
    justify-content: center;
    row-gap: 10px;
    font-size: rem(24px);
    font-weight: 400;
    margin-top: rem(30px);
  

    dt, dd {
    }
    
    dt {
      display: inline-flex;
    }

    dd {

    }
  }

  .object-actions { //on other pages?
    grid-column: 1 / -1;
  }
}