html {
  font-size: 16px;
  scroll-padding-top: 94px;//54px;
}

main {
  margin-top: rem(54px);
}

.container {
  max-width: $wrapper-width;
  padding: 0 rem(20px); 
  margin-left: auto;
  margin-right: auto;
}

* {
  outline-color: color(color-black);
}