@charset "UTF-8";
/* THEME COLORS */
.b-calcite {
  border-color: #FFF;
}

.bg-calcite {
  background-color: #FFF;
}

.color-calcite {
  color: #FFF;
}

.b-offwhite {
  border-color: #f3f4f4;
}

.bg-offwhite {
  background-color: #f3f4f4;
}

.color-offwhite {
  color: #f3f4f4;
}

.b-light-grey {
  border-color: #D8D8D8;
}

.bg-light-grey {
  background-color: #D8D8D8;
}

.color-light-grey {
  color: #D8D8D8;
}

.b-color-dark-grey {
  border-color: #b1b4b6;
}

.bg-color-dark-grey {
  background-color: #b1b4b6;
}

.color-color-dark-grey {
  color: #b1b4b6;
}

.b-mid-grey {
  border-color: #979797;
}

.bg-mid-grey {
  background-color: #979797;
}

.color-mid-grey {
  color: #979797;
}

.b-color-black {
  border-color: #333;
}

.bg-color-black {
  background-color: #333;
}

.color-color-black {
  color: #333;
}

.b-grey-20 {
  border-color: #333333;
}

.bg-grey-20 {
  background-color: #333333;
}

.color-grey-20 {
  color: #333333;
}

.b-grey-35 {
  border-color: #595959;
}

.bg-grey-35 {
  background-color: #595959;
}

.color-grey-35 {
  color: #595959;
}

.b-grey-50 {
  border-color: gray;
}

.bg-grey-50 {
  background-color: gray;
}

.color-grey-50 {
  color: gray;
}

.b-grey-65 {
  border-color: #a6a6a6;
}

.bg-grey-65 {
  background-color: #a6a6a6;
}

.color-grey-65 {
  color: #a6a6a6;
}

.b-grey-80 {
  border-color: #cccccc;
}

.bg-grey-80 {
  background-color: #cccccc;
}

.color-grey-80 {
  color: #cccccc;
}

/* LAYOUT */
/* BREAKPOINTS */
html {
  font-size: 16px;
  scroll-padding-top: 94px;
}

main {
  margin-top: 3.375rem;
}

.container {
  max-width: 90rem;
  padding: 0 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

* {
  outline-color: #333;
}

.fw-border-top {
  position: relative;
}
.fw-border-top:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 1px solid #b1b4b6;
}

.fw-border-bottom {
  position: relative;
}
.fw-border-bottom:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #b1b4b6;
}

.record-type {
  text-transform: uppercase;
  background-color: #D8D8D8;
  font-weight: 500;
  padding: 0.375rem 0.375rem 0.125rem;
  width: max-content;
  height: max-content;
}

#skipNavigation {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}
.spaced-content * + * {
  margin-top: 1.25rem;
}

.visually-hidden, #skipNavigation:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.browse .browse-links .filter-list {
  margin: 0;
  padding: 0.625rem 0;
}
.browse .browse-links .filter-item {
  padding: 0.5rem 0.625rem 0.0625rem;
}
.browse .browse-links-columns {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.browse .browse-links-columns .browse-links-item {
  margin-bottom: 0.9375rem;
}
.browse .letter-nav {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 0.625rem;
  align-items: center;
}
.browse .letter-nav a {
  margin-right: 1.25rem;
}
.browse .letter-section {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.browse .letter-section .letter-heading {
  font-size: 3.75rem;
}
.browse .letter-section .letter-name-group {
  flex-grow: 1;
  columns: 250px auto;
  margin-top: 0;
  padding-left: 6.25rem;
  list-style: none;
}
.browse .decade .browse-links-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.contact p {
  max-width: 60ch;
  margin-bottom: 2.5rem;
}
.contact #contactForm {
  max-width: 600px;
  background-color: #FFF;
  padding: 0.9375rem;
  border: 1px solid #b1b4b6;
  margin-bottom: 40px;
}
.contact .form-group {
  display: flex;
  flex-direction: column;
}
.contact .form-group + .form-group {
  margin-top: 0.9375rem;
}
.contact .form-group input {
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.3125rem 0.3125rem 0.125rem;
}
.contact .form-group label {
  font-weight: 500;
}
.contact .form-group label, .contact .form-group .form-control-static {
  font-size: 1.25rem;
}
.contact .form-group textarea {
  max-width: 40ch;
}
.contact .form-group input, .contact .form-group .button {
  max-width: max-content;
}
.contact .form-group .button {
  margin-top: 1.25rem;
}

.collections .collections-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}
.collections .collections-intro-tips {
  flex: 1 0 auto;
  margin-left: 3.125rem;
}
.collections .collections-intro-tips a {
  display: block;
}
.collections .collections-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 5rem 0 1.25rem;
}
.collections .collections-nav li {
  margin-right: 1.25rem;
}
.collections .collections-nav li .active {
  text-decoration: underline;
}

.frontpage {
  padding-bottom: 6.25rem;
  border-bottom: 1px solid #b1b4b6;
}
.frontpage article {
  margin-bottom: 1.25rem;
}
.frontpage .frontpage-search {
  padding-top: 1.25rem;
}
.frontpage .frontpage-explore {
  padding-top: 5rem;
}
.frontpage .frontpage-explore-header {
  margin-bottom: 1.25rem;
}
.frontpage .frontpage-explore-header h2 {
  display: inline;
}
.frontpage .frontpage-explore-header span {
  font-size: 2.25rem;
}
.frontpage .frontpage-explore-header select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  font-weight: bold;
  font-size: 2.25rem;
  padding-left: 1.875rem;
  margin-left: 1.875rem;
}
.frontpage .frontpage-explore-header select:focus {
  outline: none;
}
.frontpage .frontpage-explore-bios {
  margin-top: 0.625rem;
}
.frontpage button#extend-bio {
  border: none;
  cursor: pointer;
}
.frontpage .frontpage-explore-bio p:first-child {
  display: inline;
}
.frontpage .filters {
  padding-left: 0;
  padding-right: 0;
}
.frontpage .filters .filter .filter-item {
  margin-bottom: 0;
}

.detail .detail-nav {
  display: flex;
  align-items: baseline;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding-left: 1.5rem;
  margin-bottom: 1.25rem;
}
.detail .detail-images {
  margin-bottom: 10px;
}
.detail .detail-images .detail-images-container {
  position: relative;
}
.detail .detail-images .j-carousel-wrapper {
  position: relative;
}
.detail .detail-images .detailMediaToolbar, .detail .detail-images #detailRepNav {
  display: none;
}
.detail .detail-images .sensitive-content-wrapper {
  position: absolute;
  height: 100%;
  width: calc(100% - 40px);
  box-sizing: border-box;
}
.detail .detail-images .sensitive-content {
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
  position: relative;
  height: 100%;
  display: grid;
  place-content: center;
  background-color: #333;
}
.detail .detail-images .sensitive-content div {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: #FFF;
  font-weight: 500;
}
.detail .detail-images .sensitive-content div > * {
  margin-top: 1.25rem;
}
.detail .detail-images .sensitive-content p {
  max-width: 60ch;
}
.detail .detail-images .sensitive-content span {
  text-transform: uppercase;
}
.detail .detail-images .sensitive-content button {
  align-self: flex-start;
  color: #FFF;
  background-color: transparent;
  border: 2px solid #FFF;
  font-size: 1.375rem;
  font-weight: 500;
}
.detail .detail-images .sensitive-content img {
  filter: blur(15px) brightness(40%);
  height: 100%;
  width: 100%;
  position: absolute;
}
.detail .detail-images #detailRepresentationThumbnails {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.detail .detail-images #detailRepresentationThumbnails li {
  padding: 0.3125rem;
  height: 5.25rem;
}
.detail .detail-images #detailRepresentationThumbnails li a {
  height: 100%;
}
.detail .detail-images #detailRepresentationThumbnails > li + li {
  margin-left: 0.3125rem;
}
.detail .detail-images #detailRepresentationThumbnails li:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
.detail .detail-images #detailRepresentationThumbnails li.active {
  border: 1px solid #333;
}
.detail .detail-info-intro {
  padding-top: 1.875rem;
}
.detail .detail-info-intro h1 {
  margin-bottom: 1.875rem;
}
.detail .detail-info-box {
  padding: 1.875rem 0;
}
.detail .detail-info-box .detail-info-box-header {
  display: flex;
  justify-content: space-between;
}
.detail .detail-label {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
.detail .detail-info-list {
  display: grid;
  grid-template-columns: minmax(min-content, 20%) minmax(min-content, 1fr);
  justify-content: center;
  row-gap: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.875rem;
}
.detail .detail-info-list dt {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  padding-top: 4px;
}
.detail .detail-info-list dd::first-letter {
  text-transform: capitalize;
}
.detail .detail-info-list .lowercase::first-letter {
  text-transform: lowercase;
}
.detail .detail-info-paragraph, .detail .detail-link-container {
  max-width: 70ch;
  margin-top: 1.25rem;
}
.detail .detail-actions {
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
}

.search .browse-links {
  display: none;
}

.accordion {
  height: max-content;
}
.accordion.accordion--hidden > * .accordion-toggle:after {
  content: "+";
}

.accordion-details {
  overflow: hidden;
  transition: height 400ms ease-out;
  margin: 0;
  height: auto;
}
.accordion-details[aria-expanded=true] {
  margin-bottom: 1.875rem;
}

.button.accordion-toggle {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  color: #979797;
  background-color: transparent;
  padding: 10px 20px;
  letter-spacing: initial;
}
.button.accordion-toggle:hover {
  color: initial;
  background-color: initial;
}
.button.accordion-toggle:after {
  content: "—";
  padding-left: 0.375rem;
}

.button {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  white-space: nowrap;
  letter-spacing: normal;
}
.button.button--catalogue {
  background-color: #FFF;
  font-size: 18px;
  border: 1px solid #979797;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 15px 0px;
}
.button.button--catalogue a {
  display: block;
}
.button.button--catalogue a:hover {
  text-decoration: none;
}
.button.button--catalogue:hover {
  background-color: #D8D8D8;
  color: #333;
}
.button.button--filter {
  font-size: 1.125rem;
  letter-spacing: initial;
  background-color: #D8D8D8;
  margin-left: 1.25rem;
}
.button.button--filter:hover {
  color: #333;
  text-decoration: none;
}
.button.button--filter[disabled] {
  cursor: default;
}
.button.button--filter[disabled]:after {
  content: none;
}
.button.button--filter:after {
  content: " ×";
  white-space: pre;
  right: 0;
}

.dropdown {
  width: max-content;
  position: relative;
  margin-bottom: 1.25rem;
}

.dropdown-toggle {
  letter-spacing: initial;
  padding-right: 10px;
  font-weight: 500;
}
.dropdown-toggle:hover {
  color: #333;
  background-color: #D8D8D8;
}
.dropdown-toggle:after {
  content: "";
  font-family: FontAwesome;
  padding-left: 10px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  list-style: none;
  background-color: #FFF;
  z-index: 1;
  font-size: 18px;
  padding: 0;
  margin: 0;
  border: 1px solid #979797;
  width: 100%;
}
.dropdown-list .dropdown-option {
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px;
}
.dropdown-list .dropdown-option a {
  display: block;
}
.dropdown-list .dropdown-option a:hover {
  text-decoration: none;
}
.dropdown-list .dropdown-option:hover {
  background-color: #D8D8D8;
}
.dropdown-list .dropdown-option:first-child {
  padding-top: 10px;
}
.dropdown-list .dropdown-option--active {
  background-color: #D8D8D8;
}

#bRefine.filter {
  display: flex;
  position: relative;
  font-size: 1.125rem;
}
#bRefine.filter .filter-by {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  flex: 0 0 auto;
}
#bRefine.filter .filter-groups {
  position: relative;
}
#bRefine.filter .filter-header {
  display: inline-block;
  margin-bottom: 0.3125rem;
  border: 1px solid #333;
}
#bRefine.filter .filter-tab {
  padding: 0.5rem 1.5625rem 0.1875rem;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #FFF;
  flex-grow: 2;
  cursor: pointer;
  border-right: 1px solid #333;
}
#bRefine.filter .filter-tab:last-of-type {
  border-right: none;
}
#bRefine.filter .filter-tab[aria-selected=true], #bRefine.filter .filter-tab:hover {
  background-color: #D8D8D8;
}
#bRefine.filter .filter-group, #bRefine.filter .filter-more-results {
  columns: 250px auto;
  padding: 1.25rem 1.25rem 3.75rem;
  background-color: #FFF;
  border: 1px solid #979797;
}
#bRefine.filter .filter-group .more, #bRefine.filter .filter-more-results .more {
  position: absolute;
  left: 20px;
  bottom: 30px;
  height: auto;
  margin-top: 10px;
}
#bRefine.filter .filter-group .more::after, #bRefine.filter .filter-more-results .more::after {
  content: none;
}
#bRefine.filter .filter-more-results {
  overflow-y: scroll;
  width: 100%;
  max-height: 236px;
  display: flex;
}
#bRefine.filter .filter-more-results #bScrollListLabel {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 0;
  margin-right: 1.25rem;
}
#bRefine.filter .filter-more-results #bLetterBar {
  display: none;
}
#bRefine.filter .filter-more-results div[id*=facetList] {
  display: none;
}

header .navbar-nav {
  align-items: baseline;
}

.hierarchy {
  margin-top: 1.25rem;
}
.hierarchy .collection {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hierarchy .collection-item .collection-bar-content, .hierarchy .collection-item .button.accordion-toggle {
  color: #333;
}
.hierarchy .collection-item.collection-item--fond .collection-bar-content, .hierarchy .collection-item.collection-item--fond .button.accordion-toggle, .hierarchy .collection-item.collection-item--fond a {
  background-color: gray;
  color: #FFF;
}
.hierarchy .collection-item.collection-item--sousfond .collection-bar-content, .hierarchy .collection-item.collection-item--sousfond .button.accordion-toggle, .hierarchy .collection-item.collection-item--sousfond a {
  background-color: #a6a6a6;
  color: #333;
}
.hierarchy .collection-item.collection-item--series .collection-bar-content, .hierarchy .collection-item.collection-item--series .button.accordion-toggle, .hierarchy .collection-item.collection-item--series a {
  background-color: #cccccc;
  color: #333;
}
.hierarchy .collection-item.collection-item--file .collection-bar-content, .hierarchy .collection-item.collection-item--file .button.accordion-toggle, .hierarchy .collection-item.collection-item--file a {
  background-color: #f3f4f4;
  color: #333;
}
.hierarchy .collection-item.collection-item--current > .collection-bar .collection-bar-content, .hierarchy .collection-item.collection-item--current > .collection-bar .button {
  background-color: #FFF;
  color: #333;
  font-weight: 500;
}
.hierarchy .collection-item.collection-item--hidden {
  display: none;
}
.hierarchy .collection-item.collection-item--current {
  display: static;
}
.hierarchy .collection-bar {
  display: flex;
  width: 100%;
  margin-top: -1px;
}
.hierarchy .collection-bar .collection-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid #333;
  flex-grow: 1;
  padding: 0.625rem 1.25rem 0.3125rem;
}
.hierarchy .collection-bar .collection-bar-content a:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.hierarchy .collection-bar .button.accordion-toggle {
  border: 1px solid #333;
  border-left: none;
  padding: 0.625rem 1.25rem 0.3125rem;
}
.hierarchy .collection-bar .button.accordion-toggle, .hierarchy .collection-bar .collection-bar-spacer {
  display: inline-block;
  width: 100px;
  min-width: 100px;
}
.hierarchy .button.see-more {
  background-color: #FFF;
  border: 1px solid #333;
  margin: 0.625rem 1.25rem;
}
.hierarchy .button.see-more:hover {
  background-color: #333;
  color: #FFF;
}
.hierarchy .collection-level {
  margin-left: 0.625rem;
}
.hierarchy .collection-level, .hierarchy .button.accordion-toggle {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
.hierarchy .collection--child {
  margin-left: 2.5rem;
}
.hierarchy .collection--gchild {
  margin-left: 3.75rem;
}
.hierarchy .collection--ggchild {
  margin-left: 5rem;
}
.hierarchy .collection--gggchild {
  margin-left: 6.25rem;
}

.link {
  text-decoration: underline;
}
.link.link--back {
  position: relative;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
}
.link.link--back:before {
  display: inline-block;
  content: "← ";
  text-decoration: underline;
  white-space: pre;
  transform: translateX(0);
  transition: transform 0.2s ease;
}

.results {
  margin-top: 5rem;
}
.results .results-header {
  padding-top: 1.25rem;
  display: flex;
  justify-content: space-between;
}
.results .results-filters {
  margin-top: 2.5rem;
}
.results .results-controls {
  display: flex;
}
.results .results-controls .results-view {
  display: flex;
}
.results .results-controls .results-view a {
  height: max-content;
}
.results .results-controls .results-sort {
  margin-left: 3.125rem;
}
.results .results-toggle .button {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: initial;
  padding: 0.5rem 1.875rem 0.0625rem 0.625rem;
  position: relative;
}
.results .results-toggle .button:hover, .results .results-toggle .button:hover a {
  background-color: #D8D8D8;
  color: #333;
  text-decoration: none;
}
.results .results-toggle .button:first-child {
  border-right: none;
}
.results .results-toggle i {
  font-size: 0.875rem;
  position: absolute;
  right: 8px;
  top: 8px;
}
.results .results-toggle [aria-pressed=true],
.results .results-toggle [aria-pressed=true] a {
  background-color: #D8D8D8;
  pointer-events: none;
}
.results .results-criteria {
  margin-top: 3.125rem;
  padding: 0.625rem 0 0;
}
.results .results-criteria .button {
  margin-bottom: 0.625rem;
}
.results .results-criteria .container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.results .results-criteria .container--wrap {
  flex-wrap: wrap;
}
.results .results-criteria h2 {
  display: inline-flex;
}

.result-objects-labels,
.result-object {
  display: grid;
  grid-template-columns: 20% 15% 15% 5% 10% 10% 20%;
  border-bottom: 1px solid #979797;
  grid-gap: 1rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.result-objects-labels span {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}

.result-object {
  padding: 2rem 0.625rem 1.625rem;
  font-size: 1.25rem;
  position: relative;
}
.result-object * + * {
  margin-top: 0.3125rem;
}
.result-object .result-object-image a {
  display: block;
  text-decoration: none;
}
.result-object .result-object-image a:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1;
}
.result-object .result-object-image .no-image-available {
  border: 1px solid #b1b4b6;
  color: #b1b4b6;
  height: 200px;
  display: grid;
  place-content: center;
  font-weight: 500;
  text-transform: uppercase;
}
.result-object .result-object-image .sensitive-content {
  overflow: hidden;
  position: relative;
  height: 200px;
  display: grid;
  place-content: center;
}
.result-object .result-object-image .sensitive-content span {
  color: #FFF;
  font-weight: 500;
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
}
.result-object .result-object-image .sensitive-content img {
  filter: blur(8px);
  height: 100%;
  width: auto;
  position: absolute;
}
.result-object .result-object-artist {
  font-weight: 500;
}
.result-object .result-object-artist .text-center {
  width: 100%;
  text-align: center;
}
.result-object .result-object-title {
  font-style: italic;
}
.result-object .result-object-year {
  overflow-wrap: break-word;
}
.result-object .result-object-catalogue {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
.result-object .result-object-collection {
  text-transform: capitalize;
  font-weight: 400;
}
.result-object:hover {
  background-color: #FFF;
}

.result-objects {
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.result-objects.result-objects--grid .jscroll-inner, .result-objects.result-objects--grid .jscroll-added {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
}
.result-objects.result-objects--grid .jscroll-added {
  grid-column: 1/-1;
}
.result-objects.result-objects--grid .result-objects-labels {
  display: none;
}
.result-objects.result-objects--grid .result-object-image img {
  height: auto;
  width: 100%;
}
.result-objects.result-objects--grid .result-object-artist {
  font-weight: 500;
  padding-top: 0.5rem;
}
.result-objects.result-objects--grid .result-object-catalogue {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.result-objects.result-objects--grid .result-object {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  padding: 1.875rem;
  grid-gap: 0;
}
.result-objects.result-objects--grid .result-object .record-type {
  margin-bottom: 0.625rem;
}
.result-objects.result-objects--grid .result-object:hover {
  background-color: #FFF;
}

#explore .result-objects.result-objects--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 440px);
  grid-gap: 2.5rem;
  justify-content: center;
}

.advanced-search {
  max-width: 800px;
}

.advanced-search-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.625rem;
  background-color: #FFF;
  padding: 0.9375rem;
  border: 1px solid #b1b4b6;
}

.advanced-search-field {
  display: flex;
  flex-direction: column;
}
.advanced-search-field input {
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.3125rem 0.3125rem 0.125rem;
}
.advanced-search-field label {
  font-size: 1.25rem;
  margin-top: 0.1875rem;
}

.basic-search {
  display: flex;
  width: 100%;
}

.basic-search-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  margin-right: 1.25rem;
}
.basic-search-container .search-input, .basic-search-container .basic-search-select {
  border: 1px solid #b1b4b6;
  height: 40px;
  padding: 0.375rem 0.5rem 0.1875rem;
}
.basic-search-container .basic-search-select {
  font-size: 20px;
  border-left: none;
}

.search-form .accordion-toggle {
  border: none;
  letter-spacing: initial;
  background-color: transparent;
  color: #333;
  padding-left: 0;
}
.search-form .accordion-toggle:after {
  content: "—";
}
.search-form.accordion--hidden .accordion-toggle:after {
  content: "+";
}

.search-input {
  padding: 0.375rem 0.5rem 0.1875rem;
  width: 100%;
  font-size: 20px;
  height: 32px;
  line-height: 1;
  border-radius: 0;
  border: 1px solid #333;
}

.button--search {
  margin: 0;
}